<div class="container">
  <h1>Estrutura de um Componente</h1>
  <br>
  <div class="row">
    <div class="col-sm-2 offset-sm-5">
      <div class="card" *ngIf="usuarioSelecionado">
        <img src="https://randomuser.me/api/portraits/men/{{usuarioSelecionado.id}}.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{usuarioSelecionado.nome}}</h5>
        </div>  
      </div>
    </div>
  </div>
  
  <hr/>
  <div class="row">
      <div class="col-sm-2" style="margin-top: 10px" *ngFor="let usuario of listaUsuarios">
        <div class="card">
            <img class="card-img-top" src="https://randomuser.me/api/portraits/men/{{usuario.id}}.jpg">
            <div class="card-body">
              <h5 class="card-title">{{usuario.nome}}</h5>
              <a href="javascript:;" class="btn btn-primary" (click)="usuarioSelecionado = usuario">+Amigo</a>
            </div>
        </div>
      </div>
  </div>
</div>
